* {
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: #f8f9fa;
}
.scale {
  object-fit: contain;
  height: 250px;
}
.pointer {
  cursor: pointer;
}
.limit-height {
  max-height: 50vh;
}
.summary-image {
  max-width: calc(100%/3);
}
.product-item {
  position: relative;
}
.product-item img.top {
  position: absolute;
  left: 0;
  transition: opacity 1s ease-in-out;
}
.product-item img.top:hover {
  opacity: 0;
}

.color {
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 1px solid lightgrey;
  display: inline-block;
}
.black {
 background-color: black;
}
.blue {
  background-color: blue;
}
.camo {
  background-image: url('./images/camo.png');
}
.green {
  background-color: #C3D94C;
}
.grey {
  background-color: grey;
}
.orange {
  background-color: orange;
}
.pink {
  background-color: pink;
}
.red {
  background-color: red;
}
.white {
  background-color: white;
}


ul {
  padding-left: 0;
}
