@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav span,
.hero-text {
  font-family: 'Audiowide', sans-serif;
}
nav {
  font-family: 'Audiowide', sans-serif;
  background-color: #001a6b;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 94vh;
  height: 100%;
  background-color: steelblue;
}

.products {
  position: absolute;
  top: 6%;
}
.hero-image {
  background: url('./images/hero.jpg');
  background-size:cover;
  background-position-y: 63%;
  background-repeat: no-repeat;
  height: 750px;
}
.hero-text {
  top: 40%;
  right: 7%;
  font-size: 2rem;
}

.scale {
  max-width: 100%;
  object-fit: contain;
  height: 250px;
}
.pointer {
  cursor: pointer;
}
.limit-height {
  max-height: 50vh;
}
.summary-image {
  max-width: calc(100%/3);
}
.product-item {
  position: relative;
  padding-bottom: 10px;
}
.product-item img.top {
  position: absolute;
  left: 0;
  transition: opacity 1s ease-in-out;
}
.product-item img.top:hover {
  opacity: 0;
}

.color {
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 1px solid lightgrey;
  display: inline-block;
}
.black {
 background-color: black;
}
.blue {
  background-color: blue;
}
.camo {
  background-image: url('./images/camo.png');
}
.green {
  background-color: #C3D94C;
}
.grey {
  background-color: grey;
}
.orange {
  background-color: orange;
}
.pink {
  background-color: pink;
}
.red {
  background-color: red;
}
.white {
  background-color: white;
}


ul {
  padding-left: 0;
}

.item-count {
  width: calc(100%/3);
  min-width: 145px;
}

.cart-items {
  height: 175px;
  font-size: .75rem;
  border: 1px solid #CED4DA;
}

@media screen and (max-width: 1190px) {
  .hero-image {
    background-position-x: -150px;
  }
  .hero-text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .hero-image {
    display: none!important;
  }
  .cart-items-container {
    display: none!important;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size: 1rem;
  }
  nav h3 {
    font-size: 1.5rem;
  }

}
